<nav>
  <ul>
    <li>
      <a href="https://github.com/ddmetz">
          {{ partial "svg" (dict "icon" "icons/github.svg" "fill" "var(--fg)" "height" "1em" "class" "github-icon") }}
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/d-metz/">
          {{ partial "svg" (dict "icon" "icons/linkedin.svg" "fill" "var(--fg)" "height" "1em" "class" "linkedin-icon") }}
      </a>
    </li>
    <!-- {{ range .Site.Menus.navigation }} -->
    <!--   <li> -->
    <!--     <a href="{{ .URL }}">{{ .Name }}</a> -->
    <!--   </li> -->
    <!-- {{ end }} -->
  </ul>
</nav>
