@import url("/fonts/hanken-grotesk/hanken-grotesk.css");

/* Fonts */
:root {
  --bg: #000000;
  --surface1: #201f28;
  --surface2: #2d2b36;
  --lightgrey: #363340;
  --accent: #bfadff;
  --purple: #b7a3ff;
  --blue: #82acff;
  --fg: #eeeeee;
  --fg-dark: #aaaaaa;

  --font-sans: "Hanken Grotesk", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: monospace;
  --font-size-huge: 3rem;
  --font-size-large: 2rem;
  --font-size-bigger: 1.5rem;
  --font-size-big: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-tiny: 0.75rem;
}

.invisible {
  display: none;
}

html {
  background-color: black;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: var(--font-sans);
  font-size: var(--font-size-normal);
  line-height: 1.4em;

  display: flex;
  flex-direction: column;
  max-width: 720px;
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
  padding: 0;

  background-color: var(--bg);
  color: var(--fg);
}

img {
  max-width: 100%;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#header {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-normal);
  padding: 2rem 2rem 0 2rem;
}

#header a:hover {
  text-decoration: none;
}

#header nav {
  text-align: right;
}

#header nav ul {
  margin: 0;
}

#header nav ul li {
  display: inline;
}

#header nav li + li::before {
  content: "";
  padding: 0.1em;
}

hr {
  border-width: 1px;
  border-style: solid;
  color: var(--lightgrey);
  margin: 2rem 0 2rem;
}

footer {
  padding: 0 2rem 2rem 2rem;
  font-size: var(--font-size-normal);
  color: var(--fg-dark);
}

footer ul {
  margin: 0;
  text-align: center;
}

footer ul li {
  display: inline;
}

footer li + li::before {
  content: "br";
}

h1 {
  font-size: var(--font-size-huge);
  font-weight: 900;
}

h2 {
  font-size: var(--font-size-large);
  font-weight: 700;
}

h3 {
  font-size: var(--font-size-bigger);
  font-weight: 700;
}

h4 {
  font-size: var(--font-size-big);
  font-weight: 600;
}

main {
  padding: 0 2rem;
}

main #heading .wrap * {
  display: inline;
}

main .splash {
  font-size: var(--font-size-normal);
}

main img {
  display: block;
  margin: 16px auto;
  border-radius: 0.5em;
  padding: 1px;
  background-color: var(--color-black);
}
